<section class="sec-header" id="RailsGirls">
  <div class="sec-header-logo">
    <%= image_tag 'logo_red.png', alt: 'RailsGrils Chisinau' %>
  </div>
  <div class="sec-header-period">
    <p>15-31 Mai 2015</p>
    <%= link_to "Perioada de aplicare a luat sfârșit :(", "#", class: "btn btn-apply"%>
  </div>
</section>

<section class="sec-about mini-slide" id="Despre" style="font-family: 'Titillium Web';">
  <ul>
    <li class="calendar active">Durată</li>
    <li class="reason">Scop</li>
    <li class="why">De ce să particip?</li>
    <li class="money">Cost</li>
    <li class="mentors">Mentori</li>
    <li class="who">Cine poate participa?</li>
  </ul>

  <select>
    <option selected="selected">Durată</option>
    <option>Scop</option>
    <option>De ce să particip?</option>
    <option>Cost</option>
    <option>Mentori</option>
    <option>Cine poate participa?</option>
  </select>

  <div class="sec-about-text">
    <p>Cursurile vor fi lansate la ceremonia de deschidere pe 15 mai, iar activitățile didactice vor avea loc în sâmbetele de 16, 23 și 30 mai 2015. Duminică, 31 mai, te invităm la lansarea proiectelor dezvoltate în timpul atelierelor.</p>
    <br />
    <p>În total, vei beneficia de 24 de ore de curs și ateliere practice, pe care te încurajăm să le suplimentezi cu lucru independent pe parcursul săptămânii.</p>
    <br />
    <p>La sfârșitul cursului, sperăm să avem o comunitate activă, alături de care vom crea alte evenimente și ateliere.</p>
  </div>

  <div class="sec-about-text">
    <p>Ne propunem să te învățăm să faci propria aplicație web - noi îți punem bazele și îți oferim resursele didactice și referințele de care ai nevoie. Chiar dacă nu ai experiență anterioară, vino cu o idee, iar noi te vom ghida în realizarea ei.</p>
    <br />
    <p>Pe parcursul atelierului, vom încerca să construim împreună o comunitate pentru schimb de idei, sfaturi, mentorat și ajutor în crearea și întreținerea proiectelor.</p>
  </div>

  <div class="sec-about-text">
    <p>Vom învăța împreună ce este o aplicație web și te vom ajuta să realizezi propriul proiect folosind Ruby on Rails, tehnologia care înregistrează în prezent cea mai mare creștere în popularitate printre programatorii web din Republica Moldova. Vei descoperi practicile și tehnologiile moderne în contexte actuale.</p>
    <br />
    <p>De la începător la propriul proiect? Noi credem că e posibil.</p>
    <br />
    <p>Alături de noi și colaborând cu ceilalți participanți vei învăța:</p>
    <ul class="info-ul">
      <li>Ce este o aplicație web și ce se află în spatele aplicațiilor moderne</li>
      <li>Ce înseamnă web development, protocolul HTTP, conexiuni server-client</li>
      <li>Cum este creată o pagină web statică: HTML și CSS</li>
      <li>Cum este creat conținutul dinamic: Ruby și Ruby on Rails</li>
      <li>Cum să lucrezi în echipă și să găsești soluții pentru problemele tehnice cu care te confrunți</li>
    </ul>
    <br />
    <p>Vom încerca să demistificăm concepte ce par acum complexe și vom acoperi, pas cu pas, ceea ce este necesar pentru a dezvolta funcționalitatea unei mici retele sociale.</p>
  </div>

  <div class="sec-about-text">
    <p>Costul? Simplu! Absolut gratuit. Cerem de la tine doar asiduitate și sete de cunoaștere.</p>
  </div>

  <div class="sec-about-text">
    <p>Atelierele vor fi ghidate de unii dintre cei mai buni programatori Ruby on Rails din Republica Moldova, precum și alți specialiști din domeniul IT, care îți vor pune la dispoziție vastele lor cunoștințe și experiență.</p>
    <br />
    <ul class="info-ul">
      <li>Ana Balica - Programator Web</li>
      <li>Andrei Istratii - Programator Ruby on Rails</li>
      <li>Doina Leca - Programator</li>
      <li>Ivan Zarea - Programator Ruby on Rails,  profesor la Universitatea Tehnică a Moldovei</li>
      <li>Ivan Danci - Programator Ruby on Rails</li>
      <li>Tatiana Moldovan - Programator Web</li>
      <li>Vladimir Pintea - Programator Ruby on Rails</li>
      <li>Vladislav Ledniov - Programator Ruby on Rails</li>
    </ul>
  </div>

  <div class="sec-about-text">
    <p>Tinere între 18 și 28 de ani (facem, desigur, excepții), care vor să descopere ce este o aplicație web și să realizeze propriul proiect. Încurajăm începătorii, vino chiar dacă nu ai lucrat niciodată la dezvoltarea unui produs web. Cunoașterea limbii engleze te va avantaja în timpul activităților individuale.</p>
    <br />
    <p>Experiența anterioară în proiecte sociale și ideea unui proiect pe care îl vei implementa în timpul atelierelor este binevenită - noi vrem să te încurajăm să dezvolți un instrument util ție și comunității.</p>
  </div>
</section>

<section class="sec-apply" id="Aplica">
  <ul class="sec-apply-list">
    <li class="form"><i></i><span>1.</span> Completează formularul de aplicare</li>
    <li class="interview"><i></i><span>2.</span> participă la interviu</li>
    <li class="acceptance"><i></i><span>3.</span> Confirmă participarea la eveniment </li>
  </ul>

  <div class="sec-apply-btn">
    <%= link_to "Perioada de aplicare a luat sfârșit :(", "#", class: "btn btn-apply"%>
  </div>
</section>

<section class="sec-contact" id="Contact">
  <h3>Pentru a ne adresa orice întrebare, te rugăm să ne contactezi</h3>
  <div class="sec-contact-info">
      <p class="mail"><i></i><a href="mailto:railsgirlsmd@gmail.com">railsgirlsmd@gmail.com</a></p>
      <p class="phone"><i></i>+373 79111321</p>
  </div>
</section>

<section class="sec-sponsors" id="Sponsors">
  <h3>Parteneri</h3>
  <div class="sponsors-logo">
    <a href="http://www.itacces.md/index.php?l=ro">
      <%= image_tag 'sponsor1.jpg', alt: 'Centrul de Informare și Acces' %>
    </a>
    <a href="http://granat.md/">
      <%= image_tag 'sponsor2.png', alt: 'Granat', style: 'margin-left: 65px;' %>
    </a>
    <a href="http://hub.md/">
      <%= image_tag 'sponsor3.png', alt: 'Generator Hub', style: 'margin-left: 80px;' %>
    </a>

    <a href="http://www.codefactorygroup.com/">
      <%= image_tag 'sponsor4.png', alt: 'Code Factory', style: 'margin-top: 20px;' %>
    </a>
    <a href="http://www.ict.md/">
      <%= image_tag 'sponsor5.png', alt: 'Asociația Națională a companiilor din domeniul TIC', style: 'margin-left: 65px; margin-top: 20px;' %>
    </a>
    <a href="http://www.usaid.gov/">
      <%= image_tag 'sponsor6.png', alt: 'USAID from the american people', style: 'margin-left: 65px; margin-top: 20px;' %>
    </a>

    <a href="http://fusionworks.md/">
      <%= image_tag 'sponsor7.png', alt: 'Fusion Works', style: 'margin-top: 20px;' %>
    </a>
  </div>
</section>
<style>
.info-ul li {
  display: list-item;
  text-transform: none;
  text-align: left;
  width: 100%;
  margin-top: 6px;
}
</style>
