<section class="sec-form" style="padding-top: 60px;">
  <h2>Formular de aplicare</h2>
  <%= form_for @candidate, url: {action: "create"} do |f| %>
    <%= f.text_field :name, class: "sec-form-input label-tag", placeholder: "Numele și Prenumele"%>

    <%= f.text_field :email, class: "sec-form-input label-tag", placeholder: "E-mail" %>

    <%= f.text_field :phone, class: "sec-form-input label-tag", placeholder: "Numărul de telefon" %>

    <%= f.text_field :city, class: "sec-form-input label-tag", placeholder: "Localitatea în care te afli în prezent" %>

    <%= f.number_field :age, class: "sec-form-input label-tag", placeholder: "Ce vârstă ai?"%>

    <div class="sec-form-textarea">
      <%= f.label :activity do %>
        <p class="label-tag-with-info">Activitatea principală</p>
        <p class="info-label-tag">Ești elevă, studentă, deja angajată sau... spirit liber?</p>
      <% end %>
      <%= f.text_field :activity, class: "sec-form-input" %>
    </div>

    <%= f.text_field :studies, class: "sec-form-input label-tag", placeholder: "Domeniul în care activezi sau în care îți faci studiile" %>

    <div class="sec-form-textarea">
      <%= f.label :motivation do %>
        <p class="label-tag-with-info">Ce te motivează să aplici la acest curs?</p>
        <p class="info-label-tag">Descrie în ce mod cunoștințele obținute vor fi relevante pentru activitatea ta ulterioară.</p>
      <% end %>
      <%= f.text_area :motivation %>
    </div>

    <div class="sec-form-textarea">
      <%= f.label :voluntariat do %>
        <p class="label-tag-with-info">Ai activități de voluntariat?</p>
        <p class="info-label-tag">Unul din obiectivele cursului e de a te ajuta să dezvolți competențe tehnice care îți vor permite să dezvolți soluții pentru probleme sociale din domeniul tău de activitate sau voluntariat.</p>
      <% end %>
      <%= f.text_area :voluntariat %>
    </div>

    <div class="sec-form-textarea">
      <%= f.label :project_idea do %>
        <p class="label-tag-with-info">Ai o idee clară de proiect, care se încadrează în descrierea pe care am dat-o noi și pe care o vei implementa în timpul cursului?</p>
        <p class="info-label-tag">Te rugăm să descrii cu maximum de detalii ce anume îți propui să realizezi.</p>
      <% end %>
      <%= f.text_area :project_idea %>
    </div>

    <div class="sec-form-textarea">
      <p class="label-tag"><%= f.label :teamwork, "Ai experiență de lucru în echipă? Te rugăm să o descrii mai jos." %></p>
      <%= f.text_area :teamwork %>
    </div>

    <div class="sec-form-textarea">
      <%= f.label :last_skill do %>
        <p class="label-tag-with-info">Care este ultimul lucru pe care l-ai învățat de sine stătător?</p>
        <p class="info-label-tag">Descrie ce ai învățat și care au fost resursele pe care le-ai folosit.</p>
      <% end %>
      <%= f.text_area :last_skill %>
    </div>

    <div>
      <%= f.label :agreement do %>
        <p class="label-tag-with-info">Prin aplicarea la acest curs, îți asumi responsabilitatea de a-l urma în integralitate.</p>
        <p class="info-label-tag">Noi am investit mult timp și efort în organizarea acestui curs, contăm pe seriozitatea și angajamentul participanților. Dacă există motive din care nu vei putea participa la anumite părți din curs, te rugăm să le enunți mai jos.</p>
      <% end %>
      <div class="sec-form-radio">
        <label>
          <%= f.radio_button :agreement, "Da", class: "radio-input" %>Voi participa la toate activitățile cursului
        </label>
        <label>
          <%= f.radio_button :agreement, "Nu", class: "radio-input" %>Nu pot frecventa toate activitățile
        </label>
      </div>
      <div id="agreement_comment" style="display: none;">
          <%= f.text_field :disagreement_comment, class: "sec-form-input why-input ", placeholder: "De ce?" %>
      </div>
    </div>

    <div class="sec-form-submit">
      <%= f.submit "Trimite", class: "btn btn-submit" %>
    </div>
  <% end %>
</section>
<script>
$("#candidate_profile_agreement_nu").click(function() {
  $("#agreement_comment").show();
});
$("#candidate_profile_agreement_da").click(function() {
  $("#agreement_comment").hide();
})
</script>
<style>
.label-tag-with-info {
  font-family: "Titillium Web";
  border: 0 !important;
  padding-top: 4px !important;
  font-size: 16px !important;
}
.label-tag {
  font-family: "Titillium Web";
  font-size: 16px !important;
}
.info-label-tag {
  font-family: "Titillium Web";
  color: #A5A5A5 !important;
  font-size: 14px !important;
}
.why-input {
  margin-top: 6px;
}
.radio-input {
  margin-right: 10px;
}
</style>

