<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rails Girls</title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,600,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'script' %>
  <%= javascript_include_tag '//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta property="og:title" content="De la 0 la aplicație web în 3 zile? Posibil!" >
  <meta property="og:site_name" content="Rails Girls Chișinău">
  <meta property="og:url" content="http://railsgirls.md" >
  <meta property="og:description" content="" >
  <meta property="og:image" content="http://railsgirls.md/assets/logo_red-828ac4d986856f7e389d16bd8d6b901e.png" >
  <meta property="og:type" content="website" >
  <meta property="og:locale" content="ro_RO" >
</head>
<body>
  <div class="wrapper">
    <div class="nav-icon"><i></i></div>
    <nav class="main-nav" style="box-shadow: none;">
      <div class="nav-content">
        <div class="nav-logo">
          <%= link_to "/" do %>
            <%= image_tag "logo_white.png", alt: "RailGirls Chisinau" %>
          <% end %>
        </div>
        <ul class="nav-menu">
          <li><%= link_to "Despre", "/#Despre" %></li>
          <li><%= link_to "Aplică", "/#Aplica" %></li>
          <li><%= link_to "Contact", "/#Contact" %></li>
        </ul>
        <div class="nav-bottom">
          <a href="https://www.facebook.com/pages/Rails-Girls-Chișinău/1572019573030256" class="nav-fb">pagină eveniment</a>
        </div>
      </div>
    </nav>
    <main class="main">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
      <%= yield %>
    <main>
  </div>
</body>
</html>
